.container{
    display: flex;

}

.grid{
    width: 200px;
    height: 400px;
    background-color: yellow;
}

.minigrid{
    width: 80px;
    height: 80px;
    margin-left: 50px;
    background-color: yellow;
}

.minigrid div{
    height: 20px;
    width: 20px;
    display: inline;
    float: left;
}

.grid div{
    height: 20px;
    width: 20px;
    display: inline;
    float: left;
}

.tetromino{

}

.base{

}
